* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    min-height: 100%;
}

@import 'abstracts/variables';
@import 'abstracts/mixins';


@import 'components/titles';
@import 'components/hero';
@import 'components/timer';
@import 'components/records';