.records {
    font-family: var(--ff-primary);
    &-wrap {
        max-height: var(--max-height);
        overflow-y: auto;
    }
    &-item {
        display: flex;
        align-items: center;
        opacity: .6;
        &:not(:first-child) {
            margin-top: .875rem;
        }
        &:nth-last-child(2) {
            opacity: .8;
        }
        &:last-child {
            opacity: 1;
        }
        &-main {
            background: #FFFFFF;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1em;
            width: 100%;
            padding: .75rem clamp(.5rem, 3vw, 1rem);
            margin-right: 0.43rem;
            font-weight: 500;
            font-size: clamp(1rem, 3vw, 1.25rem);
            line-height: 1.15em;
            color: var(--clr-300);
        }
        &-comment {
            border: 1px solid transparent;
            outline: 0;
            color: inherit;
            max-width: 100%;
            width: 100%;
            font-size: .86em;
            &:focus {
                border: 1px solid var(--clr-300);
                border-radius: 4px;
            }
            &::placeholder {
                color: inherit;
            }
        }
        &-info {
            white-space: nowrap;
            span {
                font-size: .68em;
            }
        }
        &-remove {
            svg {
                pointer-events: none;
                --size: clamp(1.375rem, 6vw, 2.375rem);
                height: var(--size);
                width: var(--size);
            }
        }
    }
    &-btn {
        margin-top: 1.5rem;
        margin-left: auto;
        display: block;
        max-width: fit-content;
        font-family: var(--ff-primary);
        font-weight: 600;
        font-size: clamp(1.2rem, 3vw, 1.5rem);
        line-height: 1.2em;
        color: var(--clr-300);
        padding: .29em 1em;
        background: #FFFFFF;
        border-radius: 15px;
        &:hover {
            color: var(--clr-200);
        }
    }
}